* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 50%;
    margin: auto auto;
    /* border: 1px solid red; */
}

input {
    height: 120px;
    font-size: 2rem;
    width: 80%;
    padding-left: 10%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.add {
    width: 20%;
    cursor: pointer;
    border: none;
    background: green;
    color: white;
    height: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

main {
    display: flex;
    flex-flow: row wrap;
    /* border: 1px solid blue; */
    width: 50%;
    padding-top: 40px;
    margin: auto auto;
}

.item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
    margin-bottom: 10px;
    cursor: pointer;
}

/* entender como essa propriedade funciona ".item.feito" */
.item.feito {
    background-color: #ccc;
}

.item.feito .item-nome {
    text-decoration: line-through;
}

.item-icone {
    flex: 20%;
    /* border: 1px solid red; */
    text-align: center;
    font-size: 2rem;
}

.item-nome {
    flex: 55%;
    /* border: 1px solid rgb(0, 21, 255); */
    font-size: 20px;
    font-weight: bold;
}

.item-botao {
    flex: 25%;
    /* border: 1px solid rgb(255, 200, 0); */
}

.delete {  
    background: red;
    color: white;
    border: none;
    height: 80px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.mdi.mdi-check-circle {
    color: green;
}

